<div id="<%= dom_id item %>">
  <p>
    <div>
    <% item.images.each do |image| %>
      <%= image_tag image %>
    <% end %>
  </div>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

</div>
